*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.index_head{
    height: 60px;
    width: 1080px;
    margin-bottom: 10px;

}
.index_foot{
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
background: #ddd;
}
.logo{
    width: 20%;
    height: 60px;
    background: url("../image/angular_logo.jpg") no-repeat;
    background-size: cover;
    float: left;
    margin-right: 20px;
}
.head_nav{
    width:70% ;
    height: 60px;
    float: left;
    background: #000;
}
.head_nav li{
    width: 25%;
    float: left;
}
.head_nav li a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.head_nav li a:hover{
    background: #3385ff;
}
.dash_tab{
    width: 400px;
    border-collapse: collapse;
    height: 120px;

}
.dash_tab td{

    height: 50px;
    line-height: 50px;
    border: 1px solid #ddd;
    text-align: center;

}
.payBtn{
    width: 100px;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    background: #3385ff;
}
.mag-bottom{margin: 0px !important;}
.login_tab{

    width: 400px;
    border-collapse: collapse;
    height: 120px;
    margin: 100px auto;
}
.login_tab td{
    padding-left: 10px;
    height: 40px;
    border: 1px solid #ddd;
    line-height: 40px;
}
.loginBtn{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    background: #3385ff;
    color: #fff;
}
.loign_input{
    height: 40px;
    border: none;
    width: 300px;
    padding-left: 10px;
    outline: none;
}/*input[type=checkbox],input[type=radio]{
     -webkit-appearance: none;
     appearance: none;
     width: 13px;
     height: 13px;
     margin: 0;
     cursor: pointer;
     vertical-align: bottom;
     background: #fff;
     border: 1px solid #e3e3e3;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 3px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     position: relative;
 }

input[type=checkbox]:active,input[type=radio]:active {
    border-color: #e3e3e3;
    background: #ebebeb;
}

input[type=checkbox]:hover {
    border-color: #e3e3e3;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

input[type=checkbox]:checked,input[type=radio]:checked {
    background: #fff;
}

input[type=checkbox]:checked::after {
    content:"";
    width: 30px;
    height: 30px;
    background: url(../image/cb.jpg) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: 5px;
    left: 2px
}

input[type=checkbox]:focus {
    outline: none;
    border: none;
}*/
.box-a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 18px;
}
.box-a:hover{
    background: #000;
    color: #f00;
    text-decoration: none;
}
.silde_left{
   
    position: absolute;
    left: 0;
    top: 100px;
    width: 300px;
    border: 1px #000000 solid;
}



.subNav{border-bottom:solid 1px #e5e3da;cursor:pointer;font-weight:bold;font-size:14px;color:#999;line-height:28px;background-position:95% 50%}

.subNav:hover{color:#277fc2;}

.currentDd{color:#277fc2}

.currentDt{}

.navContent{display: none;border-bottom:solid 1px #e5e3da;}

.navContent li a{display:block;width:200px;heighr:28px;text-align:center;font-size:14px;line-height:28px;color:#333}

.navContent li a:hover{color:#fff;background-color:#277fc2}
.navtab{
    height: 80px;
    cursor: pointer;
    width: 100px;
    line-height: 100px;
}
