

<!--
<div class="login_bag">-->
<div class="container login_bag">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control"  placeholder="Email" ng-model="name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password"  class="form-control" placeholder="Password" ng-model="password">
            </div>
        </div>
        <div class="form-group">
                <div class="checkbox col-sm-12">
                    <label>
                        <input type="checkbox"> 记住密码
                    </label>
                </div>
            </div>
      
        <div class="form-group ">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success btn-block" ng-click="login(name,password)">登录</button>
            </div>
        </div>
       
    </form>
</div>

<!--</div>-->


<!--<div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
        <form class="form-horizontal">
            <legend>登录</legend>
            <div class="control-group">
                <label class="control-label" for="inputEmail">账号</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="请输入登入账号" ng-model="name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">密码</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="请输入密码" ng-model="password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox">记住我
                    </label>
                    <button class="btn" ng-click="login(name,password)">登陆</button>
                </div>
            </div>
        </form>
    </div>

    <div class="span3"></div>
</div>-->
