


<div class="container-fluid" style="padding: 0 0;height: {{slideHe}}px" id="accordion myCollapsible" role="tablist" aria-multiselectable="true">
    <ul class="list-group mag-bottom"  ng-repeat="l1 in arr" role="tab" id="{{l1.core}}">
        <li href="#{{l1.tabId}}" class="list-group-item active cur collapsetab" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="{{l1.tabId}}" >{{l1.name}}</li>
            <ul class="list-group mag-bottom collapse {{l1.shows}}" role="tabpanel"  aria-labelledby="{{l1.core}}" id="{{l1.tabId}}" aria-expanded = "true" >
                <li  class="list-group-item cur"  ng-repeat="i in l1.items" ng-click="silderData(i)">{{i.name}}</li>
            </ul>
    </ul>
</div>

<!---->