<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:;">这是头部</a>
        </div>
        <div>
            <!--<div class="silde_left" ng-style="silderLeft">
   <div class="row-fluid"  ng-repeat="l1 in arr">
       <div class="subNav currentDd currentDt text-center"  >{{l1.name}}</div>
       <ul class="navContent text-center" style="display:block"  >
           <li class="btn-link"  ng-repeat="link in l1 track by $index" ng-click="clickFun1(l1.items[$index].state,l1.items[$index].name,l1.items[$index].id)" >{{l1.items[$index].name}}</li>
       </ul>
   </div>
</div>-->
            <ul class="nav navbar-nav">
                
                <li class="dropdown" ng-repeat="l1 in arr">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        {{l1.name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;"  ng-repeat="link in l1 track by $index" ng-click="clickFun1(l1.items[$index].state,l1.items[$index].name,l1.items[$index].id)">{{l1.items[$index].name}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                       第二个一级菜单 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;">jmeter</a></li>
                        <li><a href="javascript:;">EJB</a></li>
                        <li><a href="javascript:;">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;">另一个分离的链接</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="container-fluid tabs">
    <!--<div  class="btn btn-default tabstop" aria-label="Left Align">
        <span data-id="1">首页</span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>-->
    <!--<div  class="btn btn-default" aria-label="Left Align">
        <span>学习</span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>-->
</section>